@charset "utf-8";

div.container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "mc m por xi"
    "sete oito nove men"
    "qua cinco seis mai"
    "um dois tres igl"
    "zer zer pon igl"
    ;
    grid-gap: 8px;
}

input {
    border-radius: 10px;
    background-color: #91a5af;
    border: 5px solid #061037;
    font: normal 1.5em 'Segoe UI';
    font-weight: 500;
    color: rgb(255, 255, 255);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.452);
}

input#mcc {
    grid-area: mc;
    background-color: #4F7589;
}

input#mmm {
    grid-area: m;
    background-color: #4F7589;
}

input#por {
    grid-area: por;
    background-color: #4F7589;
}

input#xxx {
    grid-area: xi;
    background-color: #4F7589;
}

input#set {
    grid-area: sete;
}

input#oit {
    grid-area: oito;
}

input#nov {
    grid-area: nove;
}

input#men {
    grid-area: men;
}

input#qua {
    grid-area: qua;
}

input#cinc {
    grid-area: cinco;
}

input#sei {
    grid-area: seis;
}

input#mai {
    grid-area: mai;
}

input#umm {
    grid-area: um;
}

input#two {
    grid-area: dois;
}

input#thr {
    grid-area: tres;
}

input#igl {
    grid-area: igl;
    background-color: #FF8402;
}

input#zer {
    grid-area: zer;
}

input#pon {
    grid-area: pon;
}